[Desktop Entry]
Version=1.0
Name=Source Insight 3.5
Comment=Source Insight code editor v3.5
Exec=/bin/sh -c 'WINEPREFIX="$HOME/.wine-sourceinsight" wine "$HOME/.wine-sourceinsight/drive_c/Program Files/Source Insight 3/Insight3.exe"'
Icon=si
Terminal=false
Type=Application
Categories=Utility;
