// See https://code.visualstudio.com/docs/cpp/cpp-debug
// See https://go.microsoft.com/fwlink/?linkid=830387
{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "Build and run XC binary for x86",
            "type": "cppdbg",
            "request": "launch",
            "program": "${workspaceFolder}/Debug/runme",
            "args": ["-c", "${workspaceFolder}/Tests/myconfig.cfg"],
            "stopAtEntry": false,
            "cwd": "${workspaceFolder}/Debug",
            "environment": [
                { "name": "LD_LIBRARY_PATH", "value": "${workspaceFolder}/Debug" },
            ],
            "externalConsole": false,
            "preLaunchTask": "Make",
            "MIMode": "gdb",
            "miDebuggerPath": "/usr/bin/gdb",
            "setupCommands": [
                {
                    "description": "Activer l'impression en mode Pretty pour gdb",
                    "text": "-enable-pretty-printing",
                    "ignoreFailures": true
                }
            ],
            // External source files (replacement "original path" : "replacement path")
            "sourceFileMap": {},
            // Additional symbols (separated by ;)
            "additionalSOLibSearchPath": "",
        }
    ]
}
