// See https://code.visualstudio.com/docs/editor/tasks
{
	"version": "2.0.0",
	"tasks": [
		{
			"label": "Make",
			"detail": "Build using make",
			"type": "shell",
			"command": "/usr/bin/make",
			"args": [ 
				"-s"
			],
			"options": {
				"cwd": "${workspaceFolder}"
			},
			"problemMatcher": {
				"owner": "cpp",
				"fileLocation": [
					"relative",
					"${workspaceFolder}"
				],
				"pattern": {
					"regexp": "^(.*):(\\d+):(\\d+):\\s+(warning|error):\\s+(.*)$",
					"file": 1,
					"line": 2,
					"column": 3,
					"severity": 4,
					"message": 5
				}
			},
			"group": {
				"kind": "build",
				"isDefault": true
			},
			"presentation": {
				"reveal": "always",
				"panel": "new"
			}
		},
		{
			"label": "Make clean",
			"detail": "Clean using make",
			"type": "shell",
			"command": "/usr/bin/make",
			"args": [
				"-s",
				"clean"
			],
			"options": {
				"cwd": "${workspaceFolder}"
			},
			"group": "build",
			"presentation": {
				"reveal": "always",
				"panel": "new"
			}
		},
		{
			"label": "Test",
			"detail": "Run a test",
			"type": "shell",
			"command": "test.sh",
			"options": {
				"cwd": "${workspaceFolder}"
			},
			"group": {
				"kind" : "test",
				"isDefault": true
			},
			"presentation": {
				"reveal": "always",
				"panel": "new"
			}
		}
	]
}
