[Desktop Entry]
Name=Source Insight 3.5
Type=Application
Exec=env WINEPREFIX="$HOME/.wine-sourceinsight" wine "$HOME/.wine-sourceinsight/drive_c/Program\ Files/Source\ Insight\ 3/Insight3.exe"
Path="$HOME/.wine-sourceinsight/drive_c/Program\ Files/Source\ Insight
StartupNotify=true
Icon=si.png
